
<nb-card>
  <nb-card-body>

    <nb-tabset>
      <nb-tab tabTitle="Je vérifie mon bilan" tabIcon="nb-lightbulb" responsive>

        <nb-card>
<nb-card-body>
          <ngx-graph-note></ngx-graph-note>
</nb-card-body>
        </nb-card>

      </nb-tab>
      <nb-tab tabTitle="Chercher Ma bulletin " tabIcon="nb-checkmark" responsive>
        <nb-card>
          <nb-card-header>Relevé des Notes</nb-card-header>
          <nb-card-body  class="form-inline">
            <div class="form-group">
              <label>Choisir une semestre</label>
              <select class="form-control">
                <option>SEM1</option>
                <option>SEM2</option>
              </select>
            </div> <div class="form-group">
              <label>Choisir la classe</label>
              <select class="form-control">
                <option>IA1</option>
                <option>IA2</option>
                <option>IA3</option>
                <option>Mastére</option>
              </select>
            </div>
            <div class="form-group">
              <label>Selectionner L'Année</label>
              <select class="form-control">
                <option>2016</option>
                <option>2017</option>
                <option>2018</option>
              </select>
            </div>
           <!--<div class="form-group">-->
              <!--<label>Selectionner plusieurs</label>-->
              <!--<select multiple class="form-control">-->
                <!--<option>anglais</option>-->
                <!--<option>francais</option>-->
              <!--</select>-->
            <!--</div>-->
            <button nbButton status="success"  >Envoyer</button>
          </nb-card-body>
        </nb-card>

      </nb-tab>
      <nb-tab tabTitle="Ma Relevé de Note " tabIcon="nb-compose" responsive>
        <h5 class="grid-h">Filtrés par :</h5>
        <div class="table-responsive">
          <table class="table table-bordered table-striped">
            <thead>
            <tr>
              <th>Module</th>
              <th> <small>Coeff</small> <br>
                des Modules
              </th>
              <th> <small>Les</small><br>
                Matiéres
              </th>
              <th colspan="4"> Types</th>

              <th> <small>Rang par</small>  <br> matiére</th>
              <th><small> Moyennes </small><br>
                Modules
              </th>
              <th> <small>Rang par</small><br>
                Modules
              </th>
            </tr>
            </thead>
            <tbody>
            <tr>
           <td></td>
           <td></td>
              <td ></td>
              <td>CC</td>
              <td>Examen</td>
              <td>TP</td>
              <td>Moy</td>
              <td></td>
              <td></td>
              <td></td>

            </tr>
            <tr>
              <th class="text-nowrap" rowspan='16' align='center'>UE1</th>
              <td rowspan='16' align='center'>3</td>
              <td>Management et Relation Humaines</td>
              <td>10</td>
              <td>10</td>
              <td>10</td>
              <td>10</td>
              <td  >10</td>
              <td  >1</td>
              <td  >1</td>


            <tr>
              <td>Probabilités et statistiques</td>
              <td>10</td>
              <td>10</td>
              <td>10</td>
              <td>10</td>
              <td  >10</td>
              <td  >1</td>
              <td  >1</td>


            </tr>  <tr>
              <td>Anglais II</td>
              <td>10</td>
              <td>10</td>
              <td>10</td>
              <td>10</td>
              <td  >10</td>
              <td  >1</td>
              <td  >1</td>


            </tr>

            </tbody>
          </table>
        </div>
      </nb-tab>

    </nb-tabset>

  </nb-card-body>
</nb-card>

