:host nb-tab {
  padding: 1.25rem;
}
.form-control {
  padding-left: 1rem;
  height: auto;
  width: 60%;

}
.form-group label {
  padding: 0 0 0.5rem;
  align-content: center;
}

.form-inline > * {
  margin: 0 1.5rem 1.5rem 0;
}
@import '../../../@theme/styles/themes';

@include nb-install-component() {

  ngx-graph-note
 {
    display: block;
    height: nb-theme(card-height-medium);
    width: 100%;

    /deep/ chart {
      display: block;
      height: 100%;
      width: 100%;
    }
  }
}
