<script src="../../pages.component.ts"></script>

<nb-card>
  <nb-card-body >
    <nb-stepper orientation="horizontal">
      <nb-step [label]="labelOne">
        <ng-template #labelOne>Fundamental<br><br> technical skills</ng-template>
        <h3>Tell us about your Knowledges</h3>
        <h6>What is the main service you can offer to clients?</h6>

        <nb-card>
          <nb-card-body class="form-inline">
<ngx-dropdownbuttonlist></ngx-dropdownbuttonlist>
          </nb-card-body>
        </nb-card>
        <button nbButton nbStepperNext>next</button>
      </nb-step>
      <nb-step [label]="labelTwo"  >
        <ng-template #labelTwo>Other technical<br> skills</ng-template>
        <h3 style="text-align: left">Do you have other skills ?   </h3>

        <nb-card>
          <nb-card-body class="form-inline">
        <div class="input-group">

          <form class="example-form">

            <input  #newHero type="text"   (keyup.enter)="addHero(newHero.value)"   class="form-control" placeholder="Search for..."  [matAutocomplete]="auto"   matInput [formControl]="myControl"  >
            <mat-autocomplete   autoActiveFirstOption #auto="matAutocomplete" [displayWith]="displayFn">
              <mat-option *ngFor="let option of filteredOptions | async" [value]="option" >
                {{option}}
              </mat-option>
              </mat-autocomplete>

          </form>
          <span class="input-group-append" layout-align="right">
            <button class="btn btn-danger input-group-text"
                    (click)="addHero(newHero.value)">
              Add
            </button>

          </span>

          <ul><li *ngFor="let hero of heroes">{{hero}}</li></ul>
        </div>
<div>
            <h4 style="text-align: right"> Please import any Certification you've got here </h4>
<br>
        <angular-file-uploader [config]="afuConfig">

        </angular-file-uploader>
</div>
          </nb-card-body>
        </nb-card>

        <button nbButton nbStepperPrevious class="nb-theme-cosmic">prev</button>
        <button nbButton nbStepperNext>next</button>
      </nb-step>
      <nb-step label="Soft skills">
        <h3 align="center">What is your experience level?</h3>
        <ngx-softskills></ngx-softskills>

        <button nbButton nbStepperPrevious>prev</button>
        <button nbButton nbStepperNext>next</button>
      </nb-step>
      <nb-step [label]="labelFour">
        <ng-template #labelFour>Results</ng-template>
        <h3>Check your Results and compare it to others </h3>
        <nb-card>
        
          <nb-card-body>
<ngx-graph></ngx-graph>
          </nb-card-body>
        </nb-card>

        <button nbButton nbStepperPrevious>prev</button>
        <button nbButton disabled nbStepperNext>next</button>
      </nb-step>
    </nb-stepper>
  </nb-card-body>
</nb-card>
