@import '../../../@theme/styles/themes';

@include nb-install-component() {
  ngx-graph {
    display: block;
    height: nb-theme(card-height-medium);
    width: 100%;

    /deep/ chart {
      display: block;
      height: 100%;
      width: 100%;
    }
  }
}

.nb-theme-cosmic [nbButton] {
  color: #ffffff;
  font-weight: 500;
  font-family: Exo;
  cursor: default;
  padding: 0.75rem 2rem;
  font-size: 1rem;
  line-height: 1.75;
  border-radius: 0.5rem;
  background-color: #ffa100;
}
.form-inline > * {
  margin: 0 1rem 1rem 0;

}

.input-group {
  margin-bottom: 0.5rem;
  width:45%;
}
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
:host nb-layout-column {
  height: 50vw;
}
:host nb-layout-column:first-child {
  background: #e3e6f9;
}
:host nb-layout-column:nth-child(2) {
  background: #edeef7;
}
:host nb-layout-column:last-child {
  background: #f4f4f7;
}

